/* Banner begins */
#banner{
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 100%;
  top: 4rem;
  background-color: #dadcda;
}

.bannerpicture{
  display: flex;
  width: 60%;
  padding: 2rem 1.5rem;
  /*border: 1px solid blue;  /* DUMMY */
}

.bannerpicture img{
  width: 100%;
}

.bannercontent{
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 40%;
  align-items: center;
  justify-content: space-around;
}

.bannercontent .slogan{
  display: flex;
  font-size: 3.25rem;
  font-weight: 700;
  padding: 0.5rem 3.25rem;
  color: #444;
}

.bannercontent .words{
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1.625rem;
  padding: 0.5rem 3.25rem;
}

.bannercontent .button{
  display: flex;
  font-size: 2rem;
  margin-top: 1.625rem;
  padding: 0.5rem 7.5rem;
  background-color: #555;
  border-radius: 1rem;   /* 1.425rem will turn button ends round */
  /*border: 1px solid red;    /* DUMMY */
}

.bannercontent a:link, .bannercontent a:visited{
  color: #fee;
}

.bannercontent a:hover{
  color: #cfc;
}
/* Banner ends */