/* Universal Rules begin */
html {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  color: #555;
}

.dtoplink {
  margin-right: 1.5rem;
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-end;
  /*border: 1px solid black;  /* DUMMY */
}

.dtoplink ul {
  display: flex;
}

.dtoplink li {
  margin-left: 1rem;
}

.dtoplink a:link, .dtoplink a:visited{
  color: #555;
}
/* Universal Rules end */

/* Header begins */
header {
  position: fixed;
  display: flex;
  align-items: center;    /*vertically align items in the container */
  width: 100%;
  height: 4rem;
  z-index: 1;
  background-color: white;
  /*border: 1px solid black;  /* DUMMY */
}

header .logo {
  margin-left: 1.5rem;
  display: flex;
  flex: 1 0 auto;   /* This rule will create space between .logo div and nav. */
  align-items: center;  /*vertically align items in the container */
  padding: auto 0;
  font-size: 1.5rem;
  /*border: 1px solid black;  /* DUMMY */
}

.logo img {
  height: 3.6rem;
}

.logo ul {
  display: flex;
  flex-direction: row;
}

.logo ul li:first-child{
  font-weight: bold;
}

.logo ul li:last-child{
  color: #888;
}

header ul li:hover{
  font-weight: 700;
  color: #aba;
  transition: color 1s ease-in, font-weight 1s ease-out;
}

.mlink{
  display: none;
}
/* Header ends */

/* Banner begins */
#banner{
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  width: 100%;
  top: 4rem;
  background-color: #dadcda;
}

.bannerpicture{
  display: flex;
  width: 60%;
  padding: 2rem 1.5rem;
  /*border: 1px solid blue;  /* DUMMY */
}

.bannerpicture img{
  width: 100%;
}

.bannercontent{
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 40%;
  align-items: center;
  justify-content: space-around;
}

.bannercontent .slogan{
  display: flex;
  font-size: 3.25rem;
  font-weight: 700;
  padding: 0.5rem 3.25rem;
  color: #444;
}

.bannercontent .words{
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1.625rem;
  padding: 0.5rem 3.25rem;
}

.bannercontent .button{
  display: flex;
  font-size: 2rem;
  margin-top: 1.625rem;
  padding: 0.5rem 7.5rem;
  background-color: #555;
  border-radius: 1rem;   /* 1.425rem will turn button ends round */
  /*border: 1px solid red;    /* DUMMY */
}

.bannercontent a:link, .bannercontent a:visited{
  color: #fee;
}

.bannercontent a:hover{
  color: #cfc;
}
/* Banner ends */

/* Information begins */
#information{
  position: relative;
  width: 100%;
  top: 4rem;
  /*border: 1px solid red;  /* DUMMY */
}

#information .container{
  display: flex;
  flex-direction: row;
}

.info-main{
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 2rem 1.5rem;
  /*border: 1px solid orange;  /* DUMMY */
}

.info-main .infopicture img{
  width: 100%;
}

.info-main .slogan{
  font-size: 2.75rem;
  font-weight: bold;
  margin-top: 2rem;
}

.info-main .quote{
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

.info-main .quotesource{
  font-size: 1.5rem;
  margin-top: 4rem;
  padding-bottom: 2rem;
}

.info-side{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  padding-top: 0.3rem;
  padding-bottom: 2rem;
  /*border: 1px solid purple;  /* DUMMY */
}

.info-side .box{
  display: flex;
  flex-direction: row;
  padding: 2rem auto;
  /*border: 1px solid purple;  /* DUMMY */
}

.info-side .box:hover{
  background-color: #dadcda;
  transition: color 1000ms ease-in;
}

/*.info-side .guest{
  background-color: #dadcda;
}*/

.info-side .box .picture {
  /*width: 35%;*/
  height: auto;
  padding: 1rem;
  /*border: 1px dashed black;  /* DUMMY */
}

.info-side .box .picture img{
  width: 100%;
}

.info-side .box .context{
  width: 65%;
  padding: 1rem;
  /*border: 1px solid green;  /* DUMMY */
}

.info-side .box .context .title{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.info-side .box .context .info, .info-side .box .context .readmore{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  line-height: 2rem;
}

.info-side a:link, .info-side a:visited{
  color: #16f;
}
/* Information ends */

/* Courses begins */
#courses{
  position: relative;
  width: 100%;
  top: 4rem;
  background-color: #dadcda;
  /*border: 1px solid red;  /* DUMMY */
}

#courses .container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 4.5rem;
  padding-top: 2rem;
  /*border: 1px solid black;  /* DUMMY */
}

#courses .slogan{
  font-size: 2.75rem;
  font-weight: bold;
  align-self: center;
  margin-top: 2rem;
  /*border: 1px solid white;  /* DUMMY */
}

#courses .box{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
  /*border: 1px solid red;  /* DUMMY */
}

#courses .row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem auto;
  /*border: 1px solid blue;  /* DUMMY */
}

#courses .slot, #courses .midslot{
  width: 32%;
  background-color: #fff;
  /*border: 1px solid green;  /* DUMMY */
}

#courses .slot:hover, #courses .midslot:hover{
  background-color: #aba;
  transition: color 1000ms linear;
}

#courses .midslot{
  margin: auto 1rem;
}

#courses .picture img{
  width: 100%;
}

#courses .context{
  margin: 1rem;
}

#courses .title{
  font-size: 1.75rem;
  font-weight: bold;
}

#courses .offer{
  font-size: 1.5rem;
  margin: 0.5rem auto;
}

#courses .subjects{
  font-size: 1.5rem;
}
/* Courses ends */

/* Thesis begins */
#thesis{
  position: relative;
  width: 100%;
  top: 4rem;
  /*border: 1px solid red;  /* DUMMY */
}

#thesis .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

#thesis .main-title{
  font-size: 2.75rem;
  font-weight: bold;
  margin: 2rem auto;
}

#thesis .box{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2rem;
}

#thesis .videoclip:hover, #thesis .design:hover, #thesis .research:hover{
  background-color: #aba;
  transition: color 1000ms ease-in;
}

.box .videoclip{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto 1.5rem;
  /*border: 1px solid red;  /* DUMMY */
}

.videoclip video{
  width: 100%;
}

.videoclip .mainfeature{
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.videoclip .quote{
  font-size: 1.5rem;
}

.box .others{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 1.5rem;
  /*border: 1px solid red;  /* DUMMY */
}

.others .design, .others .research{
  display: flex;
  flex-direction: row;
}

/*.others .design{
  background-color: #dadcda;
}*/

.others .picture {
  height: auto;
  padding: 1rem;
  /*border: 1px dashed black;  /* DUMMY */
}

.others .picture img{
  width: 100%;
}

.others .context{
  width: 65%;
  padding: 1rem;
  /*border: 1px solid green;  /* DUMMY */
}

.others .context .title{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.others .context .info{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  line-height: 2rem;
}
/* Thesis ends */

/* Footer begins */
footer{
  display: flex;
  position: relative;
  width: 100%;
  top: 4rem; /*100rem;    /* DUMMY */
  border-top: 1px solid #dadcda;
}

footer .content {
  display: flex;
  flex: 1 0 auto;   /* This rule stretches the .content box to the 100% width. */
  padding-top: 1rem;
  padding-bottom: 3rem;
  /*border: 1px solid black;  /* DUMMY */
}

.claim {
  margin-left: 1.5rem;
  display: flex;
  flex: 1 0 auto;   /* This rule will create space between .logo div and nav. */
  align-items: center;  /*vertically align items in the container */
}
/* Footer ends */
