/* Universal Rules begin */
html {
  font-family: 'Libre Franklin', 'Roboto', 'Nunito Sans', Helvetica, sans-serif;
  font-size: 16px;
  color: #555;  /*rgba(255,140,0,1);*/
}

.dtoplink {
  margin-right: 1.5rem;
  display: flex;
  flex: 1 0 auto;
  justify-content: flex-end;
}

.dtoplink ul {
  display: flex;
}

.dtoplink li {
  margin-left: 1rem;
  cursor: pointer;
}

.dtoplink a:link, .dtoplink a:visited{
  color: #555;
}
/* Universal Rules end */

/* Bootstrap Override */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
  background-color: inherit;
  color: #f80;
}

/* Slick Overrides */
.slick-slide {
  outline: none;
}

/* Nav begins */
header {
  position: fixed;
  display: flex;
  align-items: center;    /*vertically align items in the container */
  width: 100%;
  min-width: 30rem;
  height: 4rem;
  z-index: 1;
  background-color: white;
}

header .logo {
  margin-left: 1.5rem;
  display: flex;
  flex: 1 1 auto;   /* This rule will create space between .logo div and nav. */
  align-items: center;  /*vertically align items in the container */
  font-size: 1.5rem;
}

.logo img {
  height: 3.6rem;
}

.logo ul {
  display: flex;
  flex-direction: row;
}

.logo ul li:first-child{
  font-weight: bold;
}

.logo ul li:nth-child(2n+0){
  color: #888;
  margin-left: 0.5rem;
}

.logo ul li:last-child{
  color: #888;
  margin-left: 0.25rem;
}

.logo ul li:hover{
  font-weight: 700;
  color: #f80; /*#aba;*/
  transition: color 1s ease-in, font-weight 1s ease-out;
}

.logo ul li:hover:nth-child(2n+0){
  font-style: italic;
  transition: font-style 1s linear;
}

.logo ul li:hover:last-child{
  color: #f80;
  background-color: #555;
  transition: background-color 1s linear, color 1s ease-in;
}

.mlink{
  display: none;
}

@media only screen and (max-width: 700px){
  .logo img{
    height: 2rem;
    width: inherit;
  }

  .logo ul, .dtoplink{
    display: none;
  }

  .logo{
    display: inline-flex;
    justify-content: space-between;
    margin-right: 1.5rem;
  }

  .mlink{
    display: inline-flex;
  }

  .logo a:hover{
    background-color: #dadcda;
    transition: color 1s ease-in;
  }
}
/* Header ends */

/* Banner begins */
#banner{
  display: flex;
  flex-direction: column; /*row;*/
  align-items: center;
  width: 100%;
  min-width: 30rem;
  max-height: 110vh;
  background-color: #dadcda;
  /*border: 2.0 solid gold;*/
}

.jumbotron{
  text-align: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.jumbotron-physics{
  background-image: url("../images/Physics.jpg");
}

.jumbotron-chemistry{
  background-image: url("../images/Chemistry.jpg");
}

.jumbotron-biology{
  background-image: url("../images/Biology.jpg");
}

.jumbotron h1{
  font-size: 6rem;
  color: white;
}

.jumbotron p{
  font-size: 2.5rem;
  color: white;
  margin: auto;
}

.carousel{
  display: flex;
  width: 100%; /*60%;*/
  /*border: 0.1 solid crimson;*/
}

.carousel img{ /*.bannerpicture img{*/
  width: auto;
}

.jumbotron .container-fluid{
  padding-top: 5rem;
  /*border: 0.1 solid skyblue;*/
}

.bannercontent{
  display: flex;
  flex-direction: column;
  flex: 1 1.25 initial;
  position: relative;
  top: -25rem;
  width: 100%;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  /*border: 0.1 solid darkgray;*/
}

.bannercontent .slogan{
  display: flex;
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 4rem;
  color: #444;
}

.bannercontent .words{
  display: flex;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2.75rem;
  margin-top: 1.625rem;
}

.bannercontent .button{
  display: flex;
  flex-wrap: nowrap;
  font-size: 2rem;
  margin-top: 1.625rem;
  padding: 0.5rem 4.5rem;
  background-color: #555;
  border-radius: 2rem;   /* 1.425rem will turn button ends round */
}

.bannercontent a:link, .bannercontent a:visited{
  color: #fee;
}

.bannercontent a:hover{
  color: #f80; /*#cfc*/
  transition: color 750ms ease-in;
}

.bannercontent .button:hover{
  padding: 3.2rem 0.5rem;
  border-radius: 5rem;
  transition: All 100ms linear;
}

@media only screen and (max-height: 800px){
  .bannercontent .slogan{
    font-size: 2.75rem;
  }
  .bannercontent .words{
    font-size: 2.25rem;
  }
}

@media only screen and (max-height: 700px){
  #banner{
    flex-direction: row;
  }
  .carousel{
    width: 60%;
  }
  .bannercontent{
    position: static;
    width: 40%;
  }
}

@media only screen and (max-width: 1200px){
  .bannercontent .button{
    margin-bottom: 2rem;
    padding: auto 5rem;
  }
  .jumbotron h1{
    font-size: 4rem;
  }
  .jumbotron p{
    font-size: 2rem;
  }
}

@media only screen and (max-width: 800px){
  #banner{
    flex-direction: column;
    border-bottom: 1.5px solid #dadcda;
  }
  .bannercontent{
    width: 100%;
  }
  .jumbotron h1{
    font-size: 3rem;
  }
  .jumbotron p{
    font-size: 1.5rem;
  }
}

/* Banner ends */

/* Information begins */
#information{
  width: 100%;
  min-width: 30rem;
  top: -10rem;
  /*border: 0.1 solid black;*/
}

.info-main{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  padding: 2rem 1.5rem;
  /*border: 0.1 solid blue;*/
}

.info-main .infopicture img{
  width: 100%;
}

.info-main .slogan{
  font-size: 2.75rem;
  font-weight: bold;
  margin-top: 2rem;
}

.info-main .quote{
  font-size: 2rem;
  font-weight: bolder;
  line-height: 2.25rem;
  margin-top: 1.5rem;
}

.info-main .quotesource{
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 1rem;
}

.info-side{
  display: flex;
  flex-direction: row; /*column;*/
  justify-content: space-between;
  height: 35rem;
  width: 100%;
  /*border: 0.1 solid red;*/
}

.info-side .picture .mobile{
  display: none;
}

.info-side .box{
  display: flex;
  flex-direction: column; /*row;*/
  align-items: center;
  max-width: 32%;
  height: 35rem;
}

.info-side .box:hover{
  cursor: pointer;
  color: #fff;
  background-color: #cdadad;
  transition: background-color 1000ms linear, color 1000ms ease-in;
}

.info-side .box .picture {
  height: 50%;
  padding: 1rem;
}

.info-side .box .picture img{
  height: 100%;
  width: inherit;
}

.info-side .box .context{
  width: auto;
  padding: 1rem;
}

.info-side .box .context .title{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.info-side .box .context .info, .info-side .box .context .readmore{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  line-height: 2rem;
}

.info-side a:link, .info-side a:visited{
  color: #16f;
}

@media only screen and (max-width: 800px){
  #information{
    border-bottom: 1.5px solid #dadcda;
  }
  .info-main p, .info-side img, .info-side h4, .info-side a{
    display: none;
  }
  .info-main .slogan{
    font-size: 1.75rem;
  }
  .info-main .quote, .info-main .quotesource{
    margin-top: 0;
  }
  .info-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    width: 100%;
  }
  .info-side .box{
    display: flex;
    height: auto;
    width: 100%;
    align-content: center;
  }
  .info-side .box .context{
    flex-wrap: nowrap;
    padding: 0;
    width: 100%;
  }
}
/* Information ends */

/* Courses begins */
#courses{
  width: 100%;
  min-width: 30rem;
  top: -120rem;
  background-color: #dadcda;
}

#courses .container-fluid{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem 4.5rem;
}

#courses .slogan{
  font-size: 2.75rem;
  font-weight: bold;
  align-self: center;
  margin-top: 2rem;
}

#courses .box{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 2rem;
}

#courses .row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem auto;
}

#courses .slot, #courses .midslot{
  width: 32%;
  background-color: #fff;
}

#courses .slot:hover, #courses .midslot:hover{
  cursor: pointer;
  color: #fff;
  background-color: #cdadad;
  transition: background-color 1000ms linear, color 1000ms ease-in;
}

#courses .midslot{
  margin: auto 1rem;
}

#courses .picture img{
  width: 100%;
}

#courses .context{
  margin: 1rem;
}

#courses .title{
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 2.25rem;
}

#courses .offer{
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0.5rem auto;
}

#courses .subjects{
  font-size: 1.5rem;
  line-height: 2rem;
}

@media only screen and (max-width: 800px){
  #courses{
    background-color: #efd;
    border-bottom: 1.5px solid #dadcda;
  }

  #courses .container{
    padding: 2rem 1rem;
    margin: 0 auto;
    justify-content: center;
  }

  #courses .slogan{
    margin-bottom: 1rem;
  }

  #courses .row{
    margin: 0.1rem auto;
    padding: 0 auto;
    flex-direction: column;
    width: 100%;
  }

  #courses .slot{
    width: 100%;
    margin: 0.5rem 0;
  }

  #courses .midslot{
    width: 100%;
    margin: 0.5rem 0;
  }

  #courses .context .title{
    padding: 1rem auto 1.5rem auto;
  }

  #courses .slot img, #courses .midslot img, #courses .context h3{
    display: none;
  }
}
/* Courses ends */

/* Thesis begins */
#thesis{
  width: 100%;
  min-width: 30rem;
}

#thesis .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

#thesis .main-title{
  font-size: 2.75rem;
  font-weight: bold;
  margin: 2rem auto;
}

#thesis .box{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 2rem;
}

#thesis .videoclip:hover, #thesis .design:hover, #thesis .research:hover{
  cursor: pointer;
  color: #fff;
  background-color: #cdadad;
  transition: background-color 1000ms linear, color 1000ms ease-in;
}

.box .videoclip{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto 1.5rem;
}

.videoclip video{
  width: 100%;
}

.videoclip .mainfeature{
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.videoclip .quote{
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.box .others{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 1.5rem;
}

.others .design, .others .research{
  display: flex;
  flex-direction: row;
}

.others .picture {
  height: auto;
  padding: 1rem;
}

.others .picture img{
  width: 100%;
}

.others .context{
  width: 65%;
  padding: 1rem;
}

.others .context .title{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.others .context .info{
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  line-height: 2rem;
}

@media only screen and (max-width: 800px){
  #thesis .main-title{
    margin: inherit inherit 1rem inherit;
  }

  .box .videoclip{
    width: 100%;
    margin: auto 0;
  }

  .box .others, .box .videoclip .mainfeature, .box .videoclip .quote{
    display: none;
  }
}
/* Thesis ends */

/* Footer begins */
footer{
  display: flex;
  width: 100%;
  min-width: 30rem;
  border-top: 1px solid #dadcda;
  font-size: 0.85rem;
}

footer .content {
  display: flex;
  flex: 1 0 auto;   /* This rule stretches the .content box to the 100% width. */
  padding: 1rem 0;
  /*border: 0.1 solid darkgreen;*/
}

.claim {
  margin-left: 1.5rem;
  display: flex;
  flex: 1 0 auto;   /* This rule will create space between .logo div and nav. */
  align-items: center;  /*vertically align items in the container */
}

.claim .starzcf{
  color: #0f8;
}

.claim a:visited{
  color: #f80;
}

@media only screen and (max-width: 800px){
  footer{
    border-top: none;
  }

  footer .content{
    margin-top: 1.5rem;
    padding-bottom: 1rem;
  }

  footer .dtoplink{
    display: none;
  }

  .claim{
    margin: 1rem auto 1rem 1.5rem;
  }
}
/* Footer ends */
